.form-size {
    max-width: 640px;
    margin: 0 auto;
    background-color: #F5F5F5;
    padding: 25px;
    border: 1px solid #E9E9E9;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border radius: 5px;

}